.code-screen{
    position: fixed;
    inset: 0;
    display: grid;
    place-content: center;
    background-color: rgb(0, 0, 0,0.6);
}
.code-screen .code-modal{
    width: 80vw;
    /* height: 200px; */
    background-color: antiquewhite;
    border-radius: 1em;
    padding: 1em;

}

.code-modal .modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.code-screen .code-modal input{

    height: 48px;
    border-radius: .25em;
    font-size: 2em;
    padding-inline-start: .5em;
    border-style: none;
    width: 100%;


}
